body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}
.verti {
    width: 100vh;
    /* height: 0px; */
    border: 1px solid white;
}
.horizon {
    height: 100vh;
    /* width: 0px; */
    /* height: 0px; */
    border: 1px solid white;
}